.card{
  display: flex;
  flex-direction: column;

  width: 200px;
  padding: 16px;
  border: 1px solid $gray;

  font-family: $font-family;
  background: $white;
  &__image{
    width: 100%;
    margin-bottom: 40px;
  }
  &__title {
    font-family: $font-family;
  }
  &__buy-link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px;
    border-radius: 4px;

    color: $white;
    text-decoration: none;

    background-color: $blue;
    &:hover {
      color: $blue;
      border: 1px solid $blue;
      background: $white;
    }
  }
  &__description {
    color: $color-of-small-texts;
    font-size: 10px;
  }
  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family;
  }
  &__price-of-product {
    font-family: $font-family;
    font-weight: 400;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    font-family: $font-family;
  }
  &__description-price {
    color: $color-of-small-texts;
    font-size: 12px;
  }
  &__reviews-count {
     font-size: 10px;
  }
}

